
body {
  background-image: url(resimleer/pink.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid gray;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  }
  
  .card-img {
    width: 180px;
    margin-right: 20px;
  }
  
  .card-img img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .card-text {
    flex: 1;
  }